body {
    background-color: #B5A8D5;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}

h1 {
    font-size: large;
}

header img {
    width: 10%;
    height: 10%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

p {
    font-size: medium;
}

footer {
    padding: 20px;
    background-color: #4D55CC;
    width: 30%;
    color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px solid;
    box-shadow: 5px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}